<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>출근부 ::: 출근부 관리</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='management.css')}}"
    />
    <script src="{{ url_for('static', filename='cookie.js')}}"></script>
    <script src="{{ url_for('static', filename='management.js')}}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
      integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.0.2/index.global.js"
      integrity="sha512-EPq+T8hEH/6WcI16l1fr5qQ2ZU9HuWzfMVsw37g+cm+1vB1n9nCiIdm0oHj+6r1+dixyudfp2937IoL4f9jlEw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/dayjs.min.js"
      integrity="sha512-hcV6DX35BKgiTiWYrJgPbu3FxS6CsCjKgmrsPRpUPkXWbvPiKxvSVSdhWX0yXcPctOI2FJ4WP6N1zH+17B/sAA=="
      crossorigin="anonymous"
    ></script>
    <script>
      var calendar;

      $(function () {
        $("#headers").load("/header");

        var calendarId = $("#calendar")[0];
        calendar = new FullCalendar.Calendar(calendarId, {
          datesSet: (event) => {
            if (!(typeof event == "undefined")) {
              appened = false;
              // As the calendar starts from prev month and end in next month I take the day between the range
              var midDate = new Date(
                (event.start.getTime() + event.end.getTime()) / 2
              ).getMonth();
              month = `0${midDate + 1}`;
              selectUser(getCookie("name"), month);
            }
          },
          initialView: "dayGridMonth",
          headerToolbar: {
            start: "dayGridMonth,timeGridWeek",
            center: "prev title next",
            end: "today",
          },
          displayEventTime: false,
          themeSystem: "bootstrap5",
          locale: "ko",
          eventClick: function (info) {
            deleteEvent(info);
          },
          eventMouseEnter: function (info) {
            info.el.style.borderColor = "red";
          },
          eventMouseLeave: function (info) {
            info.el.style.borderColor = "";
          },
        });
        calendar.render();

        calendar.on("dateClick", function (info) {
          if (!$(info["dayEl"]).hasClass("fc-day-other")) changeDate(info);
        });
      });
    </script>
  </head>

  <body>
    <div class="text-center mb-3" id="headers"></div>
    <div id="monthCount" class="d-flex justify-content-end m-3">
      <p class="d-flex align-items-center" id="monthHour"></p>
    </div>
    <div
      class="m-3 fc fc-media-screen fc-direction-ltr fc-theme-bootstrap5"
      id="calendar"
    ></div>

    <!-- nameModal -->
    <div
      class="modal fade"
      id="nameModal"
      tabindex="-1"
      aria-labelledby="nameModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nameModalLabel">조회하기</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="nameInput"
                  placeholder="name@example.com"
                />
                <label for="nameInput">이름</label>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              onclick="getUser(getCookie('name'))"
            >
              현재 사용자 이름으로 조회
            </button>
            <button
              type="button"
              class="btn btn-primary"
              onclick="getUser(document.querySelector('#nameInput').value)"
            >
              조회
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- dateClick Modal -->
    <div
      class="modal fade"
      id="dateModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">출퇴근 시간 수정</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="mb-3">
                <label for="editDate">출근 날짜</label>
                <input class="d-block" type="date" id="editStartDate" />
              </div>
              <div class="mb-3">
                <label for="editStartTime">출근 시간</label>
                <input class="d-block" type="time" id="editStartTime" />
              </div>
              <div class="mb-3">
                <label for="editEndDate">퇴근 날짜</label>
                <input class="d-block" type="date" id="editEndDate" />
              </div>
              <div>
                <label for="editEndTime">퇴근 시간</label>
                <input class="d-block" type="time" id="editEndTime" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              닫기
            </button>
            <button
              type="button"
              class="btn btn-primary"
              onclick="editDT($('#editStartDate').val(), $('#editStartTime').val(), $('#editEndDate').val(), $('#editEndTime').val())"
            >
              수정
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
